.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    
}

.nav-items ul {
    display: flex;
    list-style-type: none;
}

.nav-items ul li {
    padding: 10px 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
   
    gap: 30px;

    
    
}

.res-logo {
   width: 100%;
   
   
  
    
}

.res-card {
    padding: 5px;
    width: 200px;
    margin-top : 0px;
   
    
    
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;

}